.navbar-brand {
  display: flex;
  padding: 10px;
}
.icon {
  padding: 5px;
}
#navbar {
  background-color: rgba(0, 0, 255, 0.336);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body {
  margin: 10px;
  background-color: rgba(0, 0, 255, 0.336);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card {
  margin: 10px;
  width: 50rem !important;
  background-color: rgb(169 169 255 / 69%);
}
.container-text-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
body {
  background-color: rgb(169 169 255 / 65%);
}
.comments-content {
  width: 750px;
}
.book-properties {
  font-weight: bold;
  font-size: 20px;
}
.properties-content {
  font-weight: lighter;
  font-size: 20px;
}

.comment-name {
  width: 200px;
}
.input-comment {
  width: 600px;
  margin-top: 20px;
}
.comment-input {
  display: flex;
  justify-content: space-between;
}
.send-comment {
  height: 30px;
  margin-top: 20px;
}
.d_none {
  display: none;
}
.likes_and_heart {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.heart_button {
  background: none;
  border: none;
  cursor: pointer;
}
.price_and_likes {
  display: flex;
  justify-content: space-between;
}
.like-heart {
  width: 35px;
  height: 35px;
}
.fav_icon {
  width: 35px;
  height: 35px;
}
.cover-img {
  width: 400px !important;
  height: 500px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  object-fit: cover;
  
}
.card-title {
  font-size: 40px;
}

@media (max-width: 600px) {
  #container {
    width: 350px;
  }
  .cover-img {
    width: 300px !important;
  }
}
@media (max-width: 1000px) {
  .input-comment {
    width: 600px;
  }
}
@media (max-width: 770px) {
  .input-comment {
    width: 420px;
  }
}
@media (max-width: 500px) {
  .input-comment {
    width: 300px;
  }
}
@media (max-width: 910px) {
  .container-text-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 612px) {
  .cover-img {
    width: 300px !important;
    height: 300px !important;
    object-fit: cover;
  }
}
